<h1>Pensamentos</h1>

<input [(ngModel)]='valor' type="text" placeholder="filtre o pensamento que deseja...">
<button (click)="salvarNaLista()">Salvar</button>

<div>
  <label for="">filtre pensamento: </label>
  <input [(ngModel)]="valorPensamento" (input)="filtrarPensamento()" type="text">
  <ul>
    <li *ngFor="let pensamento of listaFiltro">
      <ng-container *ngIf="pensamentoEditado === pensamento; else viewMode">
        <input [(ngModel)]="novoValorPensamento" type="text" />
        <button (click)="salvarPensamentoEditado(pensamento)" >Salvar</button>
        <button (click)="cancelar()">cancelar</button>
      </ng-container>

      <ng-template #viewMode>
        {{ pensamento }}
        <button (click)="editarPensamento(pensamento)">Editar</button>
        <button (click)="deletePensamento(pensamento)">Deletar</button>
      </ng-template>
    </li>
  </ul>
</div>
