<label for="">Insira um item na lista:</label>
<input [(ngModel)]="valorTarefaFilho" type="text" />
<button (click)="inserirItemLista()">Inserir</button>
<br><br>

<label for="">Filtre um item da lista:</label>
<input [(ngModel)]="valorFiltro" (input)="filtrar()" type="text" />

<h3>Lista de afazeres:</h3>
<ul>
  <li *ngFor="let tarefa of novoArrayItems">
    <ng-container *ngIf="valorItemEditado === tarefa; else viewMode" >
      <input [(ngModel)]="novoValorItemEditado" type="text">
      <button (click)="salvarEdicao(tarefa)">Salvar</button>
      <button (click)="cancelar()">Cancelar</button>
    </ng-container>

    <ng-template #viewMode>
      {{ tarefa }}
      <button (click)="editar(tarefa)">Editar</button>
      <button (click)="deletar(tarefa)">Deletar</button>
    </ng-template>
  </li>
</ul>

