<!-- <primeiro-componente></primeiro-componente>

<hooks-component [dadosEntrada]="'Cara'"></hooks-component>

<template-component></template-component>

<bidirecional [(size)]="fontSizePx"></bidirecional>
<p [style.font-size.px]="fontSizePx">Tamanho da fonte</p>

<diretivas-atributo></diretivas-atributo>

<diretiva-estrutural></diretiva-estrutural> -->

<!-- <app-input-output></app-input-output> -->
<!-- <filtro-component></filtro-component> -->

<!-- <lista-component></lista-component> -->
<!-- <ciclo-component></ciclo-component> -->

<!-- <pai></pai> -->

<!-- <pipes-componente></pipes-componente> -->

<!-- <user-list></user-list> -->

<!-- <logger-component></logger-component> -->

<!-- <inputEntrada-component></inputEntrada-component>
<display-component></display-component> -->

<!-- <observables-component></observables-component> -->

<!-- <users-component></users-component> -->

<!-- <formulario-component></formulario-component> -->

<!-- <forms-valid></forms-valid> -->

<!-- <forms-validators></forms-validators> -->

<!-- <formulario-user></formulario-user> -->

<h2>Lista de usuários</h2>
<lista-usuario></lista-usuario>
<!-- <router-outlet></router-outlet> -->
