<h1 class="d-flex justfy-content-center">Lista de filmes</h1>

<div class="m-5">
 <form class="d-flex mb-2" role="search">
        <input (input)="filtrar()" class="form-control me-2" [(ngModel)]="nomeFilme" name="filme" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit" (click)="buscar()">Search</button>
  </form>
  <div class="d-flex flex-wrap p-2">
    <ng-container *ngIf="arrayFilmes.length > 0; else naoEncontrado">
      <div *ngFor="let filme of arrayFilmes" class="m-4">
        <busca-filmes
        *ngIf="cardFilme"
        [imagem]="filme.Poster"
        [titulo]="filme.Title"
        [sinopse]="filme.Plot"
        />
      </div>
    </ng-container>
  </div>

  <ng-template #naoEncontrado>
    <h3 class="text-danger">{{ filmeNaoEncontrado }}</h3>
  </ng-template>

</div>
