<h1>Componente Pai</h1>

 <!-- TODO Usando a diretiva ViewChild => Captura um único elemento ou componente filho dentro do template. -->
<!--
<filho-view></filho-view>
<button (click)="mostrarMensagem()">Mostrar mensagem do filho</button> -->

 <!-- TODO Usando a diretiva ViewChildren => Captura múltiplos elementos ou componentes filhos dentro do template. -->

 <filho-view></filho-view>
 <filho-view></filho-view>
 <filho-view></filho-view>
 <filho-view></filho-view>

 <button (click)="mostraMensagem()">Mostrar mensagem dos filhos</button>
